<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.suisan.slack-news-09</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>cd /Users/suisan_2003/slack-news- &amp;&amp; EXTRA_SOURCES=medicaltech,htwatch,googlenews LOG_FILE=/Users/suisan_2003/slack-news-/cron.log /usr/bin/python3 main.py --verbose &gt;&gt; /Users/suisan_2003/slack-news-/cron.log 2&gt;&amp;1</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/suisan_2003/slack-news-/cron.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/suisan_2003/slack-news-/cron.log</string>
</dict>
</plist>

